::ng-deep ngx-charts-number-card rect {
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1) !important;
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1) !important;
    padding: 20px !important;
    border-radius: 10px;

    margin: 10px;
}