<div class="report-header grid-middle-spaceBetween-noGutter col-24">
  <div class="col">
    <div>
      <span style="font-weight: bold; color: black">الاسم :</span>
      <span style="width: 5px; height: 1px; display: inline-block"></span>
      <span>{{ name }}</span>
    </div>
    <div>
      <span style="font-weight: bold; color: black">رقم :</span>
      <span style="width: 5px; height: 1px; display: inline-block"></span>
      <span>{{ phone }}</span>
    </div>
    <div>
      <span style="font-weight: bold; color: black">النوع :</span>
      <span style="width: 5px; height: 1px; display: inline-block"></span>
      <span>{{ gender }}</span>
    </div>
    <div>
      <span style="font-weight: bold; color: black">العمر :</span>
      <span style="width: 5px; height: 1px; display: inline-block"></span>
      <span>{{ age }}</span>
    </div>
  </div>
  <img
    [src]="'../../../assets/images/logo-transparent.png'"
    height="40px"
    alt=""
  />
</div>
