//colors
$white : white;
$color1: #0c425d;
$color2: #72d88f;
$color3: #4899c2;
$color4: #1f77a3;

$color5 : #f9ae4e;
$color55: #d68522;

$border                 : #f1f1f1;
$data-table-border      : #e9e9e9;
$gray2                  : #e2e2e2;
$gray3                  : #757575;
$trash-color            : #C9302C;
$font-color             : #555;
$active-breadcrumb-color: #343434;
$card-header-bg         : #f9f9f9; //#efefef; //#f9f9f9;
$placeholder-color      : #b3b3b3;

// background color
$main-background-color  : #fff;
$header-background-color: white;
$data-table-box         : #fffdfe; //#f7f7f7;
$card-body              : #fffdfe;

// Dashboard
$marginBetweenCards: 22px;
$axisFontSize      : 12px;
$smallAxisFontSize : 10px;

//header
$profile-menu-color: #f9f9f9;
$bill-color        : #9ba2aa;
$bill-hover-color  : #73818f;

//Layout Variables

$header-height : 55px;
$sideMenu-width: 200px;


//login
$loyality-color  : #887f7f;
$login-box-color : #f5f2f0;

//mail
$mail-checkbox-color: #0073aa;
$user-mail-color    : #292b2c;

//profile
$active-color     : #f4f6f9;
$icon-color       : #959cb6;
$label-title-color: #50566a;

//email templates
$email-blue-color: #0f415d;
$email-gray-color: #5f6060;
$email-syan-color: #a2d9c2;
$email-oragne-color: #ffac52;

//fonts
$font28           : 28px;
$font24           : 24px;
$font18           : 18px;
$font16           : 16px;
$font14           : 14px;
$font12           : 12px;
$font10           : 10px;
$font-weight-600  : 600;
$font-weight-500  : 500;
$placeholder-font : 12px;
$label-font       : 14px;
$card-header-font : 16px;

$data-table-header-1366 : 14px;
$data-table-header-1920 : 16px;
$data-table-body-1366 : 12px;
$data-table-body-1920: 16px;
